
<li class="list-group-item"><div class="row">
    <div class="col">
        <a href="/socio?nSocio={{dispensacion.dispensario.socioId.numeroSocio}}">{{dispensacion.dispensario.socioId.numeroSocio}}</a> {{dispensacion.dispensario.socioId.nombre}} {{dispensacion.dispensario.socioId.apellidos}}
    </div>
    <div class="col">
        {{dispensacion.variedad.tipo}}
    </div>
    <div class="col">
        {{dispensacion.variedad.nombre}}
    </div>
    <div class="col">
        {{dispensacion.cantidad}}
    </div>
    <div class="col">
        {{dispensacion.dispensario.fecha}}
    </div>
</div></li>
